*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {width: auto!important; overflow-x: hidden!important}
body{max-width: 100%;}

.navbar{
  font-size: 20px;
}

.title {
    font-size: 50px;
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: 700;
    color: rgb(235, 235, 235);
    margin-bottom: 25px;
}

.video__frame{
  padding: 15px;
}

.panel-default > .panel-heading > .panel-title:not(.collapsed){
  color: #000000;
  background-color: #572f1d80;
  border-color: #000000;
}

.panel-body{
  background-color: #572f1d2d;
}

.name {
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  font-family: 'Arial';
}

.panel-title{
  display: flex;
  justify-content: center;
}

.panel:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px #7a4a36b7
}


.text{
    font-size: 20px;
    text-align: center;
  }

.video{
  width: 100%;
  max-width: 650px;
}

.video__mv{
  font-size: 30px;
  text-align: center;
}

.recs__name{
  width:100%;
  padding:10px;
  margin-top: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  background-color: #8d553b3d;
  color: rgb(235, 235, 235);
}

.videorecs{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.vids{
  padding: 30px;
  
}

.video__size{
  width: 430px;
}

.video__size:hover{
  transform: scale(1.1);
  box-shadow: 10px 10px 40px #000000b7;
  transition: all 1s ease;
}
.video__name{
  text-align: center;
  margin-top: 20px;
  color: #b9b9b9;
  font-weight: 700;
}

.foot{
  font-family: 'Playfair Display SC';
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 700;
}

@media screen and (max-width:480px) {
  .video__size{
    width: 330px;
  }
  .video{
    width: auto;
    max-width: 480px;
  }
}

footer{   
  max-width: 100%;
  padding: 16px;
  font-size: 25px;
  background-color: #575454;

 }

  