#top{
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.p{
  color: black;
}
*{
  font-size: 20px;
  font-family: aria;
}
p{
  color: white;
}
@media screen {
  img{
    max-width: 100%;
    height: auto;
  }
}
section {
  display: flex;
}
.c5 {
  background: #ccc;
  padding: 20px;
  height: 300px;
}
article {
  background-color: #f1f1f1;
  padding: 10px;
  height: 300px;
}
footer{
  position:relative;
  width: 100%;
  height: 90px;
  background-color: #2b2828;
}
.class{
  position:relative;
  width: 100%;
  height: 100px;
  background-color: #2b2828;
  font-family :Playfair Display;
  font-size: 50px;
}
.footer {
  position:relative;
  width: 100%;
  height: 180px;
  background-color: #575454;
}