#result{
color: rgb(82, 78, 78);
}
#result1{
  color: rgb(82, 78, 78);
  }
#qairat{
  position: relative;
  cursor: pointer;
}
#top{
  position: fixed;
  right: 30px;
  bottom: 30px;
}
*{
  font-size: 20px;
  font-family: aria;
}
p,li,ul{
  color: antiquewhite;
}
@media screen {
  img{
    max-width: 100%;
    height: auto;
  }
}
   .layer5{
    background-color: #575454;
    width: 100%; 
    float: center;
    font-family :Playfair Display;
    font-size: 50px;
   }
   footer{
    position:relative;
    width: 100%;
    height: 180px;
    background-color: #575454;
   }