img{
  max-width:100%;
}
.navbar {
  font-family: "Gill Sans MT";
  font-size:30px;
  position: center;
  padding-left: 50px;
  background-color: #3f3f3f;
  color: #d5d5d5;

}
.gallery{
  padding: 80px 0;
}
.My-container{
  margin-left:50px;
  margin-right: 50px;
}


.jumbotron{
  background-color: #3a3a3a;
  font-family: "Gill Sans MT";
  color: #d5d3d3;


}
.gallery img{
  background-color: #e1e1e1;
  padding: 15px;
  box-shadow: 0 0 5px #494949;
  cursor:pointer;
  width:100%;
}
#gallery-modal  .modal-image{
  width:100%;
}

.navbar-nav{
  margin-left: 50px;

}
.nav-item a{
  text-align: center;
  color:white;
}

.nav-item{
  justify-content: space-between;
}


.nav-link{
  text-align: center;

  color:#ffffff;
  position: center;
}

.topnav a{
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  height: 31px;
  padding-top: 4px;
  background-color: #323c56;
  border-color: #323c56;
}
.navbar a:hover{
  border-bottom: 2px solid #3b3939;
}
.btn-primary{
  font-family: "Gill Sans MT";
  display: inline-block;
  background-color: #323c56;
  border-color: #323c56;
  color: #efefef;

}
.navbar{
  position: center;

}


@media screen and (max-width: 480px){
  .topnav a:not(:first-child){
    display: none;

  }
  hr{
    max-width:100%;
  }
  #footer{
      max-width: 100%;
    }
  nav{
    width: 100%;
    height: 100px;

  }

}

footer{
  margin-top:30px;
  padding-top: 15px;
  position:relative;
  width: 100%;
  height: 200px;
  background-color: #525252;
}

