*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {width: auto!important; overflow-x: hidden!important}
body{max-width: 100%;}

  .nav-item{
    font-size: 20px;
  }

  @media (max-width: 480px){
    .video{
      width: auto;
      max-width: 480px;
    }
  }

body{
  max-width: 100%;
  background-color: #d3cece;
}

.logo{
  font-size: 20px;
}

.title {
    font-size: 50px;
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: 700;
    color: rgb(26, 26, 80);
    margin-bottom: 25px;
}

.video__frame{
  padding: 15px;
}

.panel-default > .panel-heading > .panel-title:not(.collapsed){
  color: #6A5ACD;
  background-color: #e6dbec;
  border-color: #cdc3d3;
}

.name {
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  font-family: 'Arial';
}

.panel-title{
  display: flex;
  justify-content: center;
}

.panel:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px #6A5ACD
}


.text{
    font-size: 20px;
    text-align: center;
  }

.video{
  width: 100%;
  max-width: 650px;
}

.video__mv{
  font-size: 30px;
  text-align: center;
}

.recs__name{
  width:100%;
  padding:10px;
  margin-top: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  background-color: #2d2857b7;
  color: rgb(235, 235, 235);
}

.videorecs{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.vids{
  padding: 30px;
  
}

.video__size{
  width: 430px;
}

.video__size:hover{
  transform: scale(1.1);
  box-shadow: 10px 10px 40px #000;
  transition: all 1s ease;
}
.video__name{
  text-align: center;
  margin-top: 20px;
}

.foot{
  font-family: 'Playfair Display SC';
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 700;
}

@media screen and (max-width:480px) {
  .video__size{
    width: 330px;
  }
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(231, 228, 228);
}

table th {
  padding:10px;
  text-align: center;
}
table tr td{
  padding:10px;
  text-align: center;
}

.foot{
    font-size: 15px;
    color: rgb(255, 255, 255);
}
  footer{
    max-width: 100%;
    padding: 16px;
    font-size: 15px;
    background-color: #29282c;

  }

  